
<mdb-carousel class="carousel slide display-none-mobil" >
    <mdb-carousel-item class="img-banner">
      <div class="view w-100 ">
        <img class="w-100" src="assets/banner-chance_semlogo.jpg">
        <div class="mask rgba-stylish-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
          <img class="w-100" src="assets/logo-chance-2.png">
      </div>
    </mdb-carousel-item>

</mdb-carousel>


<div class="container main-content descricao-abit" >
<!--  <hr />-->
  <p class="text-center"><strong>CHANCE</strong> é a Plataforma Abit de talentos para o setor têxtil e de confecção de todo o  Brasil. Com mais de 1,5 milhão de trabalhadores diretos e sendo o segundo maior empregador do País, a Abit está promovendo o encontro mais rápido de profissionais e empregadores dessa grande indústria da moda.</p>
  <p class="text-center">Agora, para recrutar os melhores talentos, você tem a <strong>CHANCE</strong> que te ajudará a selecionar os perfis mais adequados utilizando inteligência artificial, aproximando empresas e candidatos de forma simples e assertiva.</p>
  <p class="text-center my-3"><strong>NÃO PERCA ESSA CHANCE! Nós te ajudaremos!</strong></p>
  <div class="text-center">
    <img  class="text-center" src="assets/logo-chance-5.png" style="margin-top: 10px">
  </div>


</div>

<hr class="divider">

<div>
  <div class="content-ab-jobs" id="inventario-comportamental">
    <div >
      <mat-divider class="vertical-divider"></mat-divider>
      <span class="historia-nome-ab-jobs">Por que contratar com a Plataforma CHANCE:</span>
    </div>
    <div class="descricao-abit">
      <div class="text-format">
          <span>
            Automatize etapas operacionais do seu Recrutamento e Seleção, sem perder em eficiência e assertividade no processo. Ganhe agilidade, redução de custos e tempo de contratação:
          </span>
      </div>

      <mdb-carousel [animation]="'slide'" [interval]="15000" style="margin-top: 20%">
        <mdb-carousel-item >
          <!-- News jumbotron -->
          <div class="row shadow mb-5 bg-white rounded" style="margin-top: 15px; width: 100%;">
            <div class="col-md-4" style="background: #00498c; padding: 15px;">

              <!-- Featured image -->
              <div class="view overlay">
                <img src="assets/iconeatracao.png" class="img-fluid" alt="Sample image for first version of blog listing" style="max-width: 100% !important;">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>

            <div class="col-md-8 box-chance1">
              <!-- Excerpt -->
              <p class="font-italic">Publique suas vagas em um único lugar e ATRAIA os melhores candidatos:</p>
              <p class="font-italic">>	Divulgue nos principais bancos de currículos do país;</p>
              <p class="font-italic">>	Importe o banco de talentos da sua empresa;</p>
              <p class="font-italic">>	Trabalhe campanhas customizadas através de email Marketing e redes sociais;</p>
              <p class="font-italic">> Ative Programas de indicação.</p>

            </div>
          </div>

        </mdb-carousel-item>
        <mdb-carousel-item >
          <!-- News jumbotron -->
          <div class="row shadow mb-5 bg-white rounded" style="margin-top: 15px;width: 100%;">
            <div class="col-md-4" style="background: #00498c; padding: 15px;">

              <!-- Featured image -->
              <div class="view overlay">
                <img src="assets/iconeselecao.png" class="img-fluid" alt="Sample image for first version of blog listing" style="max-width: 100% !important;">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>

            <div class="col-md-8 box-chance1">
              <!-- Excerpt -->
              <p class="font-italic">Utilize nossa inteligência artificial para SELECIONAR seu próximo colaborador:</p>
              <p class="font-italic">> Avaliação de aspectos comportamentais, técnicos e curriculares;</p>
              <p class="font-italic">>	Combinação entre o fit cultural da empresa e perfil do candidato;</p>
              <p class="font-italic">>	Customização para provas e testes específicos;</p>
              <p class="font-italic">> Vídeo entrevistas.</p>

            </div>
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <!-- News jumbotron -->
          <div class="row shadow mb-5 bg-white rounded" style="margin-top: 15px; width: 100%;">
            <div class="col-md-4" style="background: #00498c; padding: 15px;">

              <!-- Featured image -->
              <div class="view overlay">
                <img src="assets/iconegestao.png" class="img-fluid" alt="Sample image for first version of blog listing" style="max-width: 100% !important;">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>

            <div class="col-md-8 box-gestao">
              <!-- Excerpt -->
              <p class="font-italic">Continue no controle e GERENCIE todo o processo:</p>
              <p class="font-italic">> Acesso a todos os indicadores;</p>
              <p class="font-italic">>	Acesso a todos os candidatos;</p>
              <p class="font-italic">>	Customização e controle de todo o processo.</p>

            </div>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>



      <div class="text-center " style="margin-top: 50px;">
        <button type="button" mdbBtn style="border-radius: 8px;background-color:#e96f28; color: white; font-size: 19px;text-transform: none;  " class="waves-light"
                data-toggle="modal" (click)="irParaOContato()" data-target="#basicExample" mdbWavesEffect><strong>Solicite uma demonstração sem compromisso</strong></button>
      </div>

    </div>
  </div>
</div>

<hr class="divider">

<div>
  <div class="content-ab-jobs" >
    <div >
      <mat-divider class="vertical-divider"></mat-divider>
      <span class="historia-nome-ab-jobs">Por que fazer parte da Plataforma CHANCE</span>
    </div>
    <div class="descricao-abit">
      <div class="text-format">
        <p>
          Fique em evidência para as melhores empresas do setor e aumente suas chances de contratação!
        </p>

        <p>
          Ao cadastrar seu currículo você terá acesso a indicadores que o ajudarão a compreender melhor o seu perfil e atingir o sucesso profissional. E o que é melhor, o cadastro é gratuito!
        </p>
      </div>
      <mdb-carousel [animation]="'slide'" [interval]="15000">
        <mdb-carousel-item >
          <!-- News jumbotron -->
          <div class="row shadow mb-5 bg-white rounded" style="margin-top: 15px;width: 100%;">
            <div class="col-md-4" style="background: #00498c; padding: 15px;">

              <!-- Featured image -->
              <div class=" overlay">
                <img src="assets/empregabilidade.png"  width="100%" alt="Sample image for first version of blog listing">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>

            <div class="col-md-8" style="background: #f7f5f7; padding: 45px;">
              <!-- Excerpt -->
              <h1 class="font-weight-bold">Índice de empregabilidade</h1>
              <p class="font-weight-normal">
                Receba os resultados do seu índice de
                empregabilidade e torne-se um profissional mais
                atraente e competitivo no setor.</p>

            </div>
          </div>

        </mdb-carousel-item>
        <mdb-carousel-item >
          <!-- News jumbotron -->
          <div class="row shadow mb-5 bg-white rounded" style="margin-top: 15px;width: 100%;">
            <div class="col-md-4" style="background: #00498c; padding: 15px;">

              <!-- Featured image -->
              <div class="overlay">
                <img src="assets/avaliacaocomportamental.png" style="height: 70%;width: 70%;padding-left: 43px;" alt="Sample image for first version of blog listing">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>

            <div class="col-md-8" style="background: #f7f5f7; padding: 45px;">
              <!-- Excerpt -->
              <h1 class="font-weight-bold">Avaliação Comportamental</h1>
              <p class="font-weight-normal">Conhece-te a si mesmo! Conheça suas melhores habilidades comportamentais e explore seus pontos fortes para então alcançar a vaga tão esperada!</p>

            </div>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>

      <div class="text-center " style="margin-top: 50px;">
        <button type="button" (click)="irParaOCandidato()" mdbBtn style="border-radius: 8px;background-color:#e96f28; color: white; font-size: 19px;text-transform: none;" class="waves-light"
                data-toggle="modal" data-target="#basicExample" mdbWavesEffect><strong>Cadastre</strong> seu curriculo <strong>gratuitamente</strong></button>
      </div>

    </div>
  </div>
</div>

<hr class="divider">

<div>
  <div class="content-ab-jobs" >
    <div >
      <mat-divider class="vertical-divider"></mat-divider>
      <span class="historia-nome-ab-jobs">Vagas</span>
    </div>
    <div class="descricao-abit">
      <app-vagas></app-vagas>

      <div class="text-center ">

        <button type="button" (click)="irParaObancoDeTalentos()" mdbBtn style="border-radius: 8px;background-color:#e96f28; color: white; font-size: 19px;text-transform: none; margin-top: 40px; margin-bottom: 20px" class="waves-light"
                data-toggle="modal" data-target="#basicExample" mdbWavesEffect>Quero me <strong>candidatar</strong></button>
      </div>

    </div>
  </div>
</div>

<hr class="divider">

<div>
  <div class="content-ab-jobs" >
    <div >
      <mat-divider class="vertical-divider"></mat-divider>
      <span class="historia-nome-ab-jobs">Apoiadores</span>
    </div>

      <div class="text-center">
          <img src="assets/ABTT_logo.svg" style="width: 150px" alt="" >

          <img src="assets/Logo_ABVTEX.jpg" style="width: 250px" alt="">

      </div>

    </div>

</div>

<div class="content-blog">
  <div class="content-ab-jobs" >
    <div >
      <mat-divider class="vertical-divider"></mat-divider>
      <span class="historia-nome-ab-jobs">Últimas do blog</span>
    </div>
    <div class="descricao-abit">


      <app-blog></app-blog>



    </div>
  </div>
</div>
