a {
  color: #ffffff !important;
  font-size: 16px !important;
}

.font-card-vaga {
  font-size: 16px;
  background-color: #005aa1;
  color: white;
}


.card-format {
  color: #fff;
  text-align: center;
  background-color: #005aa1;
}

.card-format-title {
  border-radius: 10px 10px 0px 0px;
}

.card-format-margin {
  margin-top: 10px;
  border-radius: 0px 0px 10px 10px;
}

.card-body {

  padding: 10px !important;
}

.card-format-footer {
  color: #fff;
  text-align: center;
  background-color: #005aa1;
  border-radius: 0px 0px 10px 10px;
}



