<!-- Footer -->
<footer class="page-footer" style="background-color: #e0dee2" id="fale-conosco">

  <!-- Footer Links -->
  <div class="container">


    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 my-3">
        <img class="card-img-top" style="width: 40%;" src="assets/logo-chance-3.png" alt="logo">
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="border-top: 2px solid #00316e; width: 100%">

    <!-- Grid row-->
    <div class="text-center row pb-3 mt-5">

      <!-- Grid column -->
      <div class="col-md-12">

        <div class="mb-4 flex-center">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/ReachrRecrutamento/" target="_blank">
            <mdb-icon fab icon="facebook" size="lg" class="white-text mr-3"></mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://twitter.com/reachrdigital" target="_blank">
            <mdb-icon fab icon="twitter" size="lg" class="white-text mr-3"></mdb-icon>
          </a>
          <!-- Portal Reachr --->
          <a class="gplus-ic" href="https://www.reachr.com.br/" target="_blank">
            <mdb-icon fas icon="globe" size="lg" class="white-text mr-3"></mdb-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://www.linkedin.com/company/reachr-recrutamento/" target="_blank">
            <mdb-icon fab icon="linkedin" size="lg" class="white-text mr-3"></mdb-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/reachrdigital/?hl=pt-br" target="_blank">
            <mdb-icon fab icon="instagram" size="lg" class="white-text "></mdb-icon>
          </a>

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>

</footer>
